.card {
  background: white;
  border-radius: 18px;
  box-shadow: 12px 12px 0px 0px rgba(255, 68, 0, 0.18);

  .card-title {
    background: #f40;
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-size: 22px;
    font-weight: 400;
    border-radius: 18px 18px 0px 0px;
    padding: 8px 0px;
  }
}

.card-button {
  color: #ff6abc;
  font-size: 12px;
  font-weight: 400;
  text-align: end;
  margin: 10px 40px;
}

.card-box-button {
  display: flex;
  justify-content: space-between;
}
