.nav-list {
  list-style: none;
  display: flex;
  justify-content: center;
  color: white;
  background: #ff8f00;
  padding: 17px;
  border-radius: 20px;
  margin-top: -28px;

  .list-age {
    background-image: url(../img/list-puce.svg);
    background-repeat: no-repeat;
    background-position: right center;
    padding-right: 25px;
    padding-left: 25px;

    &:first-child {
      padding-left: 0;
    }
  }
}

li {
  list-style: none;
}

.list-proposition {
  position: absolute;
  color: black;
  background-image: url(../img/list.svg);
  width: 231px;
  height: 217px;
  padding-top: 45px;
  padding-left: 38px;
  margin-left: -103px;
  margin-top: -12px;
  line-height: 1.8;
  opacity: 0;
  transition: opacity 0.3s;
  pointer-events: none;
}

.list-proposition:hover {
  opacity: 1;
  pointer-events: all;
}
