.text-placeholder input {
  border: none;
  border-radius: 18px;
  margin-left: 18px;
  padding: 8px 59px 8px 22px;
  background: #d3549a;
  color: white;
  font-family: "Noto Sans", sans-serif;
  font-size: 16px;
  box-shadow: 3px 3px 9px 0px rgba(0, 0, 0, 0.1) inset;

  &::placeholder {
    color: #ffffff80;
    border: none;
  }
}
