.verbs-card {
  width: 100%;
  padding: 10px 52px;
  border-radius: 18px;
  border: 2px solid #ff6abc80;
  font-size: 18px;
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &::placeholder {
    color: black;
  }

  &.t-search {
    background: #ff6abc33;
    margin-top: 0;
    padding: 21px 52px;

    &::placeholder {
      color: #c6649a94;
    }
  }
}

.verbs-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 40px 30px 40px;
}

.verbs-cross {
  font-size: 20px;
  color: #ff6abc;
  width: 44px;
  height: 44px;
  transition: 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.verbs-cross:hover {
  font-weight: 900;
}
