.verbs-card {
  width: 100%;
  padding: 20px 52px;
  border-radius: 18px;
  border: 2px solid #ff6abc80;
  font-size: 18px;
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &::placeholder {
    color: black;
  }

  &.t-search {
    background: #ff6abc33;
    margin-top: 0;

    &::placeholder {
      color: #c6649a94;
    }
  }
}

.box-verbs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 40px 30px 40px;
}
